[Bb]in/
[Oo]bj/
[Oo]ut/
TestResults/
*.TestResults

appsettings.Development.json
appsettings.Local.json
*.user
*.userosscache
*.sln.docstates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.xcworkspace

*.log
*.cache
[Tt]humbs.db
.DS_Store